# Posloupnosti


Mezi posloupnosti patří `str`, `tuple` a `list`.
Každý z těchto datových typů má své specifické vlastnosti, ale něco mají
společné: 

* Můžeme zjistit jejich **délku** pomocí funkce `len()`:

In [6]:
s='ahoj Karliku'
len(s)

12

* Pomocí operátoru příslušnosti `in` můžeme zjišťovat **přítomnost** prvku v posloupnosti.

In [ ]:
>>> s='ahoj Karle'
>>> 'Q' in s
--> False
>>> 'a' in s
--> True
>>> 'Ka' in s
--> True

Je možné je **procházet**, protože prvky jsou **seřazené**.

In [8]:
s="Ahoj Karle."
for pismeno in s:
    print(pismeno)

A
h
o
j

K
a
r
l
e
.

* Je možné dělat **výřezy**. *Výřez je nový objekt*. Výřez se děje pomocí hranatých závorek za názvem proměnné. Obecně může zápis vypadat takto:     
`s[zacatek:konec:krok]` -- ale *zacatek*, *konec* i *krok* lze vynechat.

Následující schéma je pro řetězce, ale stejně to platí i pro seznamy.

```
index
  -9  -8  -7  -6  -5  -4  -3  -2  -1
   0   1   2   3   4   5   6   7   8  
 +---+---+---+---+---+---+---+---+---+
 | P | y | t | h | o | n |   | A | B | 
 +---+---+---+---+---+---+---+---+---+
výřez
 :   1   2   3   4   5   6   7   8   :
 :  -8  -7  -6  -5  -4  -3  -2  -1   :

```

In [ ]:
>>> s="Ahoj Karle."
>>> len(s)
11
>>> s[0]
'A'
>>> s[2]
'o'
>>> s[-1]
'.'
>>> s[-2]
'e'
>>> s[-3]
'l'
>>> s[1:3]
'ho'
>>> s[-4:-1]
'rle'
>>> novy=s[2:-2]
>>> novy
'oj Karl'
>>> abc=s[:]
>>> abc
'Ahoj Karle.'

In [13]:
data=list(range(20))
data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
>>> data[0]
--> 0

>>> data[0:3]
--> [0, 1, 2]

>>> data[5:]
--> [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

>>> data[1:15]
--> [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

>>> data[1:15:3]
--> [1, 4, 7, 10, 13]

>>> data[::2]
--> [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

>>> data[::-2]
--> [19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

>>> data[5::-2]
--> [5, 3, 1]

>>> data[-1]
--> 19
>>> data[-2]
--> 18

>>> data[-10:]
--> [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

>>> data[-8:14]
--> [12, 13]

>>> data[-8:16]
--> [12, 13, 14, 15]

## n-tice -- tuple()

`tuple` je také **neměnitelný** datový typ. Pokud proměnná vznikne není již
možné její obsah měnit. Pomocí `tuple` můžeme uchovat vedle sebe -- v seznamu,
několik proměnných libovolného datového typu. `tuple` se zapisuje do kulatých
závorek a položky se oddělují čárkou.

In [15]:
t=(1,2,3.1415,'ahoj')
t

(1, 2, 3.1415, 'ahoj')

In [16]:
t[3]

'ahoj'

In [17]:
t[2:]

(3.1415, 'ahoj')

In [18]:
t[0] = 999

TypeError: 'tuple' object does not support item assignment

* n-tice lze spojovat pomocí operátoru `+` nebo `*`

In [24]:
novy=t+(7,8,9)
novy

(1, 2, 3.1415, 'ahoj', 7, 8, 9)

In [25]:
t * 3

(1, 2, 3.1415, 'ahoj', 1, 2, 3.1415, 'ahoj', 1, 2, 3.1415, 'ahoj')

* Protože je `tuple` neměnitelný děje se **přidání položky** do n-tice pomocí přepsání původní proměnné.
* Jedno-položkovou n-tici nestačí uzavřít do závorek `('polozka')` ale musí následovat i čárka, aby Python dobře rozpoznal datový typ: `('polozka',)`

In [26]:
w = ()
w = w + (3.1415,)
w = w + (5 ,)
w = w + ('abc' ,)
w += (14 ,15)
w += ('konec',)
w

(3.1415, 5, 'abc', 14, 15, 'konec')

### Jednopoložkový tuple

Ještě jednou, pro jistotu: Pokud vytváříme jednopoložkový `tuple`, nestačí ho zavřít do závorek ale je třeba přidat i čárka. Python musí podle něčeho poznat, jestli jede o závorku, která udává pořadí matematických operací nebo o závorku, která říká, že jde o `tuple`.

In [4]:
w = (5)
type(w)

int

In [3]:
w = w + (3.1415,)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [6]:
w = (5, )
type(w)

tuple

In [7]:
w = w + (3.1415,)
w

(5, 3.1415)

### Metody

* `tuple` má pouze dvě metody: `.count()` a `.index()`, které pracují podobě jako u řetězců.

In [31]:
w = (3.1415, 5, 'abc', 14, 15, 'konec', 5, 14)
w.count(5)

2

In [32]:
w.count('QQ')

0

In [33]:
w.index(5)

1

In [34]:
w.index(14)

3

In [35]:
 w.index('QQ')

ValueError: tuple.index(x): x not in tuple

## seznam -- list()

`list` je **měnitelný** datový typ -- i po jeho vytvoření lze data uvnitř přepsat. 
`list` se v mnohém podobá `tuple`, ale tím, že je měnitelný se k němu přistupuje jinak.
Zápis seznamu se provádí do hranatých závorek.

In [37]:
l = [1,2,18,3.1415,'Karel', 'Lenka', 77]

In [38]:
l[5]

'Lenka'

In [39]:
l[5]='Petr'
l[5]

'Petr'

In [40]:
l

[1, 2, 18, 3.1415, 'Karel', 'Petr', 77]

* Metody `.count()` a `.index()` se chovají stejně jako u typů `str` a `tuple`.

* Metody `.append()`, `.extend()`, `.insert()`, `pop()`, `.remove()`, `reverse()`, `.sort()` **provádí změny přímo v seznamu**.

* Operátory `+` a `*` se chovají stejně jako u `tuple` nebo `str`. **Přidání do seznamu** lze provádět podobně jako u `tuple` -- přepsáním původního seznamu.

In [41]:
l=[]
l=l+[12]
l=l+[3.1415]
l += ['ahoj']
l

[12, 3.1415, 'ahoj']

In [42]:
l += [ 1,2,3]
l

[12, 3.1415, 'ahoj', 1, 2, 3]

In [44]:
l = l + [2.718]*5
l

[12,
 3.1415,
 'ahoj',
 1,
 2,
 3,
 2.718,
 2.718,
 2.718,
 2.718,
 2.718,
 2.718,
 2.718,
 2.718,
 2.718,
 2.718]

* **Přidání do seznamu** lze provádět také pomocí metody `.append(object)`, `.insert(object)` nebo `.extend(list)`. `.append()` a `insert()` přidává **jeden prvek** `object`. Pokud jako `object` použijeme seznam přidá se celý seznam pouze jako jedna položka seznamu.

* `append()` přidává nakonec seznamu

In [45]:
l = ['jedna']
l.append(3.1415)
l.append(77)
l

['jedna', 3.1415, 77]

In [46]:
l.append([1,2,3])
l

['jedna', 3.1415, 77, [1, 2, 3]]

In [47]:
l[2]

77

In [48]:
l[3]

[1, 2, 3]

In [49]:
l[3][0]

1

In [50]:
l[3][2]

3

* `insert()` přidává na zadanou souřadnici

In [54]:
l=['jedna', 3.1415, 77, [1, 2, 3]]
l

['jedna', 3.1415, 77, [1, 2, 3]]

In [55]:
l.insert(2,"AAAAA")
l

['jedna', 3.1415, 'AAAAA', 77, [1, 2, 3]]

In [56]:
l.insert(4,987654321)
l

['jedna', 3.1415, 'AAAAA', 77, 987654321, [1, 2, 3]]

* Jestli-že chceme přidat nejednou více prvků použijeme metodu `.extend(iterator)`, která `iterator` (tedy vlastně seznam) před přidáním do seznamu [**rozbalí**](Funkce.ipynb#Rozbalené-seznamu-a-slovníku).

In [57]:
l = ['jedna']
l.extend([1,2,3])
l

['jedna', 1, 2, 3]

* Metody `reverse()` a `sort()` mají výmluvný název -- slouží k **převrácení** a **seřazení** seznamu.

In [63]:
l = [1, 987654321, 77, 55, 3.1415, 12]
l.sort()
l

[1, 3.1415, 12, 55, 77, 987654321]

In [64]:
l.reverse()
l

[987654321, 77, 55, 12, 3.1415, 1]

* K **odstranění** prvku se seznamu slouží metoda `pop([index])`. Pokud `index` není zadán odstraní se vždy poslední prvek. Důležité je, že **návratovou hodnotou** metody `pop()` je **právě odstraněný prvek**.

In [69]:
l =  [3.1415, 77, 987654321, [1, 2, 3], 'AAAAA', 'jedna']
l

[3.1415, 77, 987654321, [1, 2, 3], 'AAAAA', 'jedna']

In [70]:
l.pop()

'jedna'

In [67]:
l

[3.1415, 77, 987654321, [1, 2, 3], 'AAAAA']

In [71]:
l.pop()

'AAAAA'

In [72]:
l

[3.1415, 77, 987654321, [1, 2, 3]]

In [73]:
l.pop(1)

77

In [74]:
l

[3.1415, 987654321, [1, 2, 3]]

* Metoda `remove(value)`, také odstraní prvek, ale ne podle indexu nýbrž **podle hodnoty `value`**.

In [81]:
l=['jedna', 3.1415, 'AAAAA', 77, 987654321]
l.remove('AAAAA')

In [82]:
l

['jedna', 3.1415, 77, 987654321]

In [83]:
l.remove(77)
l

['jedna', 3.1415, 987654321]

In [84]:
l.remove('to tu neni')

ValueError: list.remove(x): x not in list

----------------------------------

Pri práci s posloupnostmi se někdy může hodit, když víte jak [**rozbalit** seznam nebo slovník ](./Funkce.ipynb#Rozbalené-seznamu-a-slovníku).